body {
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
}

a {
    transition: background 0.2s, color 0.2s;
}

    a:hover,
    a:focus {
        text-decoration: none;
    }

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f5f5f7;
    transition: all 0.5s ease;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
}

    .sidebar-brand h2 {
        margin: 0;
        font-weight: 600;
        font-size: 24px;
        color: #fff;
    }

.sidebar-nav {
    position: absolute;
    top: 165px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav > li {
        text-indent: 10px;
        line-height: 42px;
        margin-bottom: 25px;
        box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 18%), 0px 4px 14px 0px rgb(0 0 0 / 14%);
    }

        .sidebar-nav > li a {
            display: block;
            text-decoration: none;
            color: #757575;
            font-weight: 400;
            font-size: 16px;
        }

        .sidebar-nav > li > a:hover,
        .sidebar-nav > li.active > a {
            text-decoration: none;
            color: #fff;
            /*  background: #F8BE12; */
            background: #ddab26;
            margin-left: 10px;
            margin-right: 10px
        }

        .sidebar-nav > li > a i.fa {
            font-size: 24px;
            width: 60px;
        }

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}

#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}

#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #eee;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
}

    #navbar-wrapper .navbar a {
        color: #fff;
    }

        #navbar-wrapper .navbar a:hover {
            color: #F8BE12;
        }

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 45px;
    top: 100px;
}

#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.nav-bg {
    background-image: linear-gradient( 1deg, hsl(255deg 86% 72%) 0%, hsl(249deg 89% 74%) 11%, hsl(242deg 92% 75%) 24%, hsl(236deg 94% 75%) 38%, hsl(230deg 95% 74%) 52%, hsl(226deg 95% 74%) 64%, hsl(223deg 95% 73%) 74%, hsl(220deg 93% 73%) 82%, hsl(217deg 91% 72%) 89%, hsl(215deg 89% 72%) 95%, hsl(213deg 86% 72%) 100% )
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 60px;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}
@media (min-width: 1200px) {
    .col-lg-4 {
        width: 30.33333333% !important;
    }
}