/*@font-face {
    font-family: Lexend;
    src: url('/Fonts/Lexend-VariableFont_wght.ttf');
}
body {
    font-family: Lexend !important;
}*/
.header {
    text-align: center;
    color: #2d4154;
    padding-bottom: 25px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

table th {
    background-color: #2d4154;
    color: #ffffff !important;
}
