@font-face {
    font-family: Lexend;
    src: url('/Fonts/Lexend-VariableFont_wght.ttf');
}

body {
    font-family: Lexend !important;
}


.text-center {
    text-align: center
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: 600
}

.py-3 {
    padding-bottom: 20px;
    padding-top: 20px
}

.phead {
    color: #919191
}
