@model IEnumerable<HotelGuestVerifyByPolice_CMS.Areas.HotelDashboard.Models.Location>
@{
    Layout = "~/Areas/HotelDashboard/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<style>
    body {
     
        background: #f5f5f7;
        font-family: "Roboto", sans-serif;
    }

/*     h1 {
        color: rgba(255, 255, 255, 0.95);
        text-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
        margin: 100px auto;
    } */

    #about {
        padding: 16px;
    }

    .bdr {
        border: 1px solid red;
    }

    #portfolio {
        background: #fafafa;
        padding: 8px 0;
    }

        #portfolio .card {
            margin: 0 -8px 32px -8px;
            color: rgba(0, 0, 0, 0.87);
            box-shadow: 2px 2px 8px rgb(0 0 0 / 31%);
            background:#fff;
        }

            #portfolio .card .card-title {
                display: flex;
                justify-content: flex-end;
                padding: 16px;
                font-weight:600;
                color: #939393
            }

            #portfolio .card .card-data {
                display: flex;
                justify-content: flex-end;
                padding: 0px 16px 0 0;
                font-size: 32px;
                font-weight: 600;
            }

            #portfolio .card hr {
                width: 90%;
            }

            #portfolio .card .card-hint {
                display: flex;
                padding: 0 0 8px 8px;
                font-size: 14px;
                font-weight: 300;
            }

                #portfolio .card .card-hint i {
                    font-size: 1.3rem;
                    color: red;
                    margin-right: 8px;
                }

            #portfolio .card .card-icon {
                display: flex;
                position: absolute;
                top: -20px;
                left: 30px;
                background: linear-gradient(60deg, #ffa726, #EF6C00);
                color: white;
                width: 90px;
                height:90px;
                box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
                align-items: center;
                justify-content: center;
                border-radius: 25%;
            }

                #portfolio .card .card-icon i {
                    font-size: 4rem;
                }

        #portfolio #storageCard .card-icon {
            background: linear-gradient(60deg, #5E35B1, #039BE5);
        }

        #portfolio #storageCard .card-hint i {
            color: red;
        }

        #portfolio #loveCard .card-icon {
            background: linear-gradient(60deg, #F50057, #FF8A80);
        }

        #portfolio #loveCard .card-hint i {
            color: blue;
        }

        #portfolio #pizzaCard .card-icon {
            background: linear-gradient(60deg, #fb8c00, #FFCA29);
        }

        #portfolio #pizzaCard .card-hint i {
            color: red;
        }

        #portfolio #gameCard .card-icon {
            background: linear-gradient(60deg, #43A047, #FFEB3B);
        }

        #portfolio #gameCard .card-hint i {
            color: green;
        }
      .card-hint a{
        color: #939393;
      }

   /*  .col-lg-4 {
        width: 30.333333%;
    } */
    .mr-2{
        margin-right:0px;
    }

   /*  chart */

    .chart_div {
        /*width:calc(100vw - 40px);*/
        width: 100%;
        /*height: calc(100vh - 40px);*/
        height: 100%;
        background-color: #fff;
        padding: 10px;
        box-sizing: border-box;
       /*  margin: 20px; */
        box-shadow: 2px 2px 8px rgb(0 0 0 / 31%);
    }
</style>
@* <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>City</th>
                <th>Employee List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.ID</td>
                    <td>@p.Address</td>
                    <td>@p.City</td>
                    <td>
                        <a asp-area="Employee"
                           asp-controller="SalesEmployee"
                           asp-action="GetEmployeeListByLocation"
                           asp-route-locationID=@p.ID>
                            View Employee List
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> *@
<div class="">
  
    <div class="row" id="portfolio">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mr-2">
            <div class="card" id="storageCard">
                <div class="card-title">CHECK-IN</div>
                <div class="card-icon"><img src="../Areas/HotelDashboard/Content/Images/Icon/check-in.png"style="width:65px;"></div>
                <div class="card-data" style="color:#484ebe">24</div>
                <hr />
                <div class="card-hint"> <a href="#">View Details</a></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mr-2">
            <div class="card" id="loveCard">
                <div class="card-title">CHECK-OUT</div>
                <div class="card-icon"><img src="../Areas/HotelDashboard/Content/Images/Icon/check-out.png" style="width:65px;"></div>
                <div class="card-data" style="color:#f71f60">12</div>
                <hr />
                <div class="card-hint"> <a href="#">View Details</a></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mr-2">
            <div class="card" id="pizzaCard">
                <div class="card-title">EMPLOYEE</div>
                <div class="card-icon"><img src="../Areas/HotelDashboard/Content/Images/Icon/online-reservation.png" style="width:65px;"></div>
                <div class="card-data" style="color:#fb9908">14</div>
                <hr />
                <div class="card-hint"><a href="#">View Details</a></div>
            </div>
        </div>
     
    </div>


    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mr-2">
            <div class="chart_div"><canvas id="Monthly" width="373" height="260"></canvas>
              <p style="text-align:center;font-weight:500">Monthly Check In</p>  
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mr-2">
        <div class="chart_div"><canvas id="Daily" width="373" height="260"></canvas>
                <p style="text-align:center;font-weight:500">Monthly Check In</p>
            </div>
            
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="chart_div"><canvas id="Weekly" width="373" height="260"></canvas>
                <p style="text-align:center;font-weight:500">Monthly Check In</p>
            </div>
           
        </div>
    </div>
</div>
<div style="margin-top:8%">
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary.</th>
        </tr>
    </thead>

   <tbody>
        <tr>
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
        </tr>
        <tr>
            <td>Colleen Hurst</td>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>39</td>
            <td>2009/09/15</td>
            <td>$205,500</td>
        </tr>
        <tr>
            <td>Sonya Frost</td>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>23</td>
            <td>2008/12/13</td>
            <td>$103,600</td>
        </tr>
        <tr>
            <td>Jena Gaines</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>30</td>
            <td>2008/12/19</td>
            <td>$90,560</td>
        </tr>
        <tr>
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2013/03/03</td>
            <td>$342,000</td>
        </tr>
        <tr>
            <td>Charde Marshall</td>
            <td>Regional Director</td>
            <td>San Francisco</td>
            <td>36</td>
            <td>2008/10/16</td>
            <td>$470,600</td>
        </tr>
        <tr>
            <td>Haley Kennedy</td>
            <td>Senior Marketing Designer</td>
            <td>London</td>
            <td>43</td>
            <td>2012/12/18</td>
            <td>$313,500</td>
        </tr>
       
        <tr>
            <td>Timothy Mooney</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>37</td>
            <td>2008/12/11</td>
            <td>$136,200</td>
        </tr>
        <tr>
            <td>Jackson Bradshaw</td>
            <td>Director</td>
            <td>New York</td>
            <td>65</td>
            <td>2008/09/26</td>
            <td>$645,750</td>
        </tr>
        <tr>
            <td>Olivia Liang</td>
            <td>Support Engineer</td>
            <td>Singapore</td>
            <td>64</td>
            <td>2011/02/03</td>
            <td>$234,500</td>
        </tr>
        <tr>
            <td>Bruno Nash</td>
            <td>Software Engineer</td>
            <td>London</td>
            <td>38</td>
            <td>2011/05/03</td>
            <td>$163,500</td>
        </tr>
        <tr>
            <td>Sakura Yamamoto</td>
            <td>Support Engineer</td>
            <td>Tokyo</td>
            <td>37</td>
            <td>2009/08/19</td>
            <td>$139,575</td>
        </tr>
        <tr>
            <td>Thor Walton</td>
            <td>Developer</td>
            <td>New York</td>
            <td>61</td>
            <td>2013/08/11</td>
            <td>$98,540</td>
        </tr>
        <tr>
            <td>Finn Camacho</td>
            <td>Support Engineer</td>
            <td>San Francisco</td>
            <td>47</td>
            <td>2009/07/07</td>
            <td>$87,500</td>
        </tr>
        <tr>
            <td>Serge Baldwin</td>
            <td>Data Coordinator</td>
            <td>Singapore</td>
            <td>64</td>
            <td>2012/04/09</td>
            <td>$138,575</td>
        </tr>
        <tr>
            <td>Zenaida Frank</td>
            <td>Software Engineer</td>
            <td>New York</td>
            <td>63</td>
            <td>2010/01/04</td>
            <td>$125,250</td>
        </tr>
        <tr>
            <td>Zorita Serrano</td>
            <td>Software Engineer</td>
            <td>San Francisco</td>
            <td>56</td>
            <td>2012/06/01</td>
            <td>$115,000</td>
        </tr>
        <tr>
            <td>Jennifer Acosta</td>
            <td>Junior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>43</td>
            <td>2013/02/01</td>
            <td>$75,650</td>
        </tr>
        <tr>
            <td>Cara Stevens</td>
            <td>Sales Assistant</td>
            <td>New York</td>
            <td>46</td>
            <td>2011/12/06</td>
            <td>$145,600</td>
        </tr>
        <tr>
            <td>Hermione Butler</td>
            <td>Regional Director</td>
            <td>London</td>
            <td>47</td>
            <td>2011/03/21</td>
            <td>$356,250</td>
        </tr>
        <tr>
            <td>Lael Greer</td>
            <td>Systems Administrator</td>
            <td>London</td>
            <td>21</td>
            <td>2009/02/27</td>
            <td>$103,500</td>
        </tr>
        <tr>
            <td>Jonas Alexander</td>
            <td>Developer</td>
            <td>San Francisco</td>
            <td>30</td>
            <td>2010/07/14</td>
            <td>$86,500</td>
        </tr>
        <tr>
            <td>Shad Decker</td>
            <td>Regional Director</td>
            <td>Edinburgh</td>
            <td>51</td>
            <td>2008/11/13</td>
            <td>$183,000</td>
        </tr>
        <tr>
            <td>Michael Bruce</td>
            <td>Javascript Developer</td>
            <td>Singapore</td>
            <td>29</td>
            <td>2011/06/27</td>
            <td>$183,000</td>
        </tr>
        <tr>
            <td>Donna Snider</td>
            <td>Customer Support</td>
            <td>New York</td>
            <td>27</td>
            <td>2011/01/25</td>
            <td>$112,000</td>
        </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">

    $(document).ready(function () {



        var table = $('#example').DataTable({
            select: false,
            "columnDefs": [{
                className: "Name",
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });//End of create main table


       
    });
    var green = "rgba(52,191,158,1)";
    var lightgreen = "rgba(45, 204, 170, 1)";
    var blue = "rgba(0,147,214,1)";
    var lightblue = "rgba(0, 157, 230, 1)";
    var orange = "rgba(239,141,54,1)";
    var yellow = "rgba(255,232,124,1)";
    var red = "#FF4242";
    var transparent = "rgba(0,0,0,0)";

    Chart.defaults.global.defaultFontColor = '#888888';
    Chart.defaults.global.defaultFontFamily = '"Open Sans"';
    //Chart.defaults.global.legend = false;
    var MonthlyCtx = document.getElementById("Monthly");
    var Monthly = new Chart(MonthlyCtx, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "March", "April", "May", "Jun", "July", "Agust", "Sep", "oct", "Nov","Dec"],
            datasets: [{
                label: 'Projekt',
                data: [11, 34, 7, 11, 34, 7, 11, 34, 7, 11, 34, 7,],
                fill: true,
                backgroundColor: [blue, green, red, lightgreen, lightblue, orange, yellow, lightgreen, lightblue,'blue','pink','orange'],

            }]
        },
        options: {
            layout: { padding: { right: 0, left: 2 ,bottom:5} },
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: false
            },
            scales: {
                display: false,
                xAxes: [{
                    barPercentage: 1.2,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        display: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        display: true,
                        beginAtZero: false
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    }
                }]
            }
        }
    });

    var DailyCtx = document.getElementById("Daily");
    var Daily = new Chart(DailyCtx, {
        type: 'line',
        data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [ {
                label: 'Debitering inkl Prospekt, SEK',
                data: [10, 20,35, 48, 65, 29, 23],
                fill: false,
                backgroundColor: orange,
                borderColor: orange,
                borderWidth: 3,
                cubicInterpolationMode: "monotone"
            }]
        },
        options: {
            maintainAspectRatio: true,
            responsive: true,
            layout: { padding: { right: 10 } },
            legend: {
                display: false
            },
            scales: {
                display: false,
                xAxes: [{
                    gridLines: {
                        display: true,
                        drawBorder: false
                    },
                    ticks: {
                        display: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        display: true,
                        beginAtZero: false
                    },
                    gridLines: {
                        display: true,
                        drawBorder: false
                    }
                }]
            }
        }
    });
    var WeekCtx = document.getElementById("Weekly");
    var Weekly = new Chart(WeekCtx, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "March", "April", "May", "Jun", "July", "Agust", "Sep", "oct", "Nov", "Dec"],
            datasets: [{
                label: 'Projekt',
                data: [11, 34, 7, 11, 34, 7, 11, 34, 7, 11, 34, 7,],
                fill: true,
                backgroundColor: [blue, green, red, lightgreen, lightblue, orange, yellow, lightgreen, lightblue, 'blue', 'pink', 'orange'],

            }]
        },
        options: {
            layout: { padding: { right: 0, left: 2 } },
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: false
            },
            scales: {
                display: false,
                xAxes: [{
                    barPercentage: 1.2,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        display: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        display: true,
                        beginAtZero: false
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    }
                }]
            }
        }
    });





 </script>