@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/homeindex.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <center><h1>Welcome</h1></center>
 
    </div>
    <div class="row">
        <div class="column">
            <div class="row" style="width: 50%;margin-left: 10%;">
               <a href="../Account/Hotellogin"> <div class="card hotel-card">
                    <div class="card-header">HOTEL</div>
                    <div class="card-body">
                        <img src="~/images/reception.png" />
                    </div>
                    </div>
                </a>
            </div>
            <div class="row" style="width: 50%;margin-left: 10%;margin-top: 5%;">
                <a href="../Account/DepartmentLogin">
                    <div class="card depart-card">
                  @*   <div class="card-header">DEPARTMENT</div> *@
                    <div class="card-body">
                        <span style="color:#fff;font-weight:600">DEPARTMENT</span>
                        <img src="~/images/department.png" style="width: 58%;float: right;" />
                    </div>
                </div></a>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <img src="~/images/interlink.png" style="width:75%"/>
                </div>
            </div>
        </div>
    </div>
</div>
