@{
    ViewBag.Title = "Hotel Login";
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
    .bg-gradient {
        background-image: linear-gradient( 45deg, hsl(264deg 73% 38%) 0%, hsl(259deg 68% 39%) 16%, hsl(253deg 64% 40%) 32%, hsl(247deg 61% 41%) 49%, hsl(241deg 58% 42%) 66%, hsl(234deg 65% 40%) 83%, hsl(228deg 78% 36%) 100% ) !important;
        h
    }

    wordtune-read-extension {
        display: none !important
    }

    .login_form {
        background: #fff;
        width: 46%;
        border-radius: 20px;
        padding: 50px;
        padding-left: 85px;
        padding-bottom: 25px;
        margin-left:auto;
    }

    .form-control {
        border: none !important;
        border-bottom: 1px solid #787878 !important;
        border-radius: 0px !important;
        /*  color: #9979f6 !important; */
        margin-right: 5% !important;
        margin-bottom: 35px;
    }

        .form-control:focus {
            color: #212529;
            background-color: #fff !important;
            border-color: none;
            outline: 0;
            box-shadow: none !important;
            border-bottom: 2px solid #9979f6 !important;
        }

    .login_img {
        position: absolute;
        top: 11%;
        left: 16%;
    }
</style>
<div class=" bg-gradient">
    <div class="container" style="padding-top:8%;padding-right:11%;padding-bottom:5%;">
       
        <h2 style="color:#fff;margin-bottom:20px;font-weight:600;text-align:end">
            Department Login
        </h2>
        <div class="login_form">
            <div>
                <input class="form-control" placeholder="USERNAME" />
            </div>
            <div>
                <input class="form-control" placeholder="PASSWORD" style="margin-bottom:25px" />
                <p class="text-end">Forget Password?</p>
            </div>

            <div class="text-center" style="margin-top:30px"><button class="btn btn-primary" style="font-weight:700;background:#0b38ad;border-color:#0b38ad;padding:5px 30px;font-size:16px;border-radius:5px;">LOGIN</button></div>

        </div>
        <div class="login_img">
            <img src="/images/policestation.png" style="width:500px" />
        </div>


        <div class="text-right" style="margin-top:30px;margin-right:8%">
            <button class="btn btn-primary" style="font-weight:700;background:#2b7408;border-color:#2b7408;padding:5px 40px;font-size:16px;border-radius:5px">
                <a href="../Account/HotelRegistration" style="color:#fff">  Department Registration!</a>
            </button>
            <p style="color:#fff;margin-top:10px">Click here for the Department registration.</p>
        </div>
    </div>
</div>




@section Scripts {

    @* @Scripts.Render("~/bundles/jqueryval") *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

}