<html>
    <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <style>
    @@font-face {
    font-family: Lexend;
    src: url('/Fonts/Lexend-VariableFont_wght.ttf');
}
body {
    font-family: Lexend !important;
}


    .text-center {
        text-align: center
    }
    h1,h2,h3,h4,h5,h6{
        font-weight:600;
        margin-top:10px;margin-bottom:10px
    }
    p{margin:0;font-size:14px;font-weight:600}
    .py-3{
        padding-bottom:20px;padding-top:20px
    }
    .phead{
            color: #919191
    }
</style>
</head>
<body >
<div style="padding:15px" >

        <div class="py-3 text-center" style="border-bottom:2px solid #000">
        <h2 class="text-center">HARDEO HOTEL</h2>
        <h6 class="text-center">Address:43RP+C8G, Munje Marg Near Laxmi Nagar Thecter, Sitabuldi, Nagpuyr,Maharashtra 440012</h6>
            <span style="margin-right:5%">Mobile:9584685485</span>   <span>Email:Umesh@gmail.com</span>
    </div>


    <div class="py-3" style="border-bottom:2px solid #000;"id="target">
        <h5>Guest Details</h5>
        <div style="display:flex; justify-content:space-between">
            <p style="color:#919191">Check IN</p>
            <p>2 Adults And 1 Child</p>
            <p style="color:#919191">Check Out</p>
        </div>
        <div style="display:flex; justify-content:space-between">
            <p>20-10-2023 12:15 PM</p>
            <p>[1 Night Stay]</p>
            <p>21-10-2023 11:10 AM</p>
        </div>
    </div>

        <div class="py-3" style="border-bottom:2px solid #000">
            <h5 class="">Primary Guest</h5>
           <div class="row">
                <div class="col-md-4 d-flex justify-content-between">
                    <div class="">
                        <p class="phead">Name</p>
                        <p class="mb-2">Ravi Verma</p>
                        <p class="phead">Relation</p>
                        <p class="mb-2">Self</p>
                        <p class="phead">Age</p>
                        <p class="mb-2">45</p>
                        <p class="phead">State</p>
                        <p class="mb-2">Maharashtra</p>
                        <p class="phead">Visit Purpose</p>
                        <p class="mb-2">Wedding</p>
                    </div>
                    <div class="">
                        <p class="phead">Mobile</p>
                        <p class="mb-2">9856324587</p>
                        <p class="phead">Gender</p>
                        <p class="mb-2">Male</p>
                        <p class="phead">Country</p>
                        <p class="mb-2">India</p>
                        <p class="phead">City</p>
                        <p class="mb-2">Nagpur</p>
                        <p class="phead">Coming From</p>
                        <p class="mb-2">Nagpur</p>
                    </div>
                   
               </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-around">
                        <div><img src="/Areas/Department/Content/Images/Icons/avatars.jpg" style="width:200px;margin-left:4%" /></div>
                        <div> <img src="/Areas/Department/Content/Images/Icons/avatars.jpg" style="width:200px" /></div>
                    </div>
                   

                </div>
           </div>
        </div>
        <div class="py-3" style="border-bottom:2px solid #000">
            <h5 class=""> Guest 2</h5>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-between">
                    <div class="">
                        <p class="phead">Name</p>
                        <p class="mb-2">Ravi Verma</p>
                        <p class="phead">Relation</p>
                        <p class="mb-2">Self</p>
                        <p class="phead">Age</p>
                        <p class="mb-2">45</p>
                        <p class="phead">State</p>
                        <p class="mb-2">Maharashtra</p>
                        <p class="phead">Visit Purpose</p>
                        <p class="mb-2">Wedding</p>
                    </div>
                    <div class="">
                        <p class="phead">Mobile</p>
                        <p class="mb-2">9856324587</p>
                        <p class="phead">Gender</p>
                        <p class="mb-2">Male</p>
                        <p class="phead">Country</p>
                        <p class="mb-2">India</p>
                        <p class="phead">City</p>
                        <p class="mb-2">Nagpur</p>
                        <p class="phead">Coming From</p>
                        <p class="mb-2">Nagpur</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-around">
                        <div><img src="/Areas/Department/Content/Images/Icons/avatars.jpg" style="width:200px;margin-left:4%" /></div>
                        <div> <img src="/Areas/Department/Content/Images/Icons/avatars.jpg" style="width:200px" /></div>
                    </div>


                </div>
            </div>
        </div>
</div>
<button id="submit">Export to  PDF</button>
<script>
function onClick() {
         window.print()
};

var element = document.getElementById("submit");
element.addEventListener("click", onClick);
</script>
</body>
</html>