<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Areas/HotelDashboard/Content/css/Layout_CSS.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@*     <link href="@Url.Content("~/Areas/HotelDashboard/Content/css/Layout_CSS.css")" rel="stylesheet" type="text/css" /> *@
    <title>@ViewBag.Title</title>

</head>

<body>
    <div>
        
        <div id="wrapper">

            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <h2 style="color:#000">Logo</h2>

                    <h4>Roshal</h4>
                    <h6>Owner</h6>
                    <hr />
                </div>
                <ul class="sidebar-nav">
                    <li class="active">
                        <a href="#"><i class="fa fa-home"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i>Guest Details</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Report</a>
                    </li>
                </ul>
            </aside>

            <div id="navbar-wrapper" class="nav-bg">
                <nav class="navbar navbar-inverse nav-bg">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </nav>
            </div>

            <section id="content-wrapper">
               
              
                @RenderBody()
            </section>

        </div>
        
    </div>
    <script>
        const $button = document.querySelector('#sidebar-toggle');
        const $wrapper = document.querySelector('#wrapper');

        $button.addEventListener('click', (e) => {
            e.preventDefault();
            $wrapper.classList.toggle('toggled');
        });
    </script>
</body>
</html>
